body{
 background-color: lightgray;
  
}

.Result_button {
  background-color: blanchedalmond;
  padding: 20px 30px;
  border: solid white;
  border-radius: 15px;
  color: black;
  font-weight: 300;
  font-weight: bold;
  font-size: 27px;
  margin: 20px;
}

.question {
  font-size: 20px;
  font-weight: 300;
}
.button {
    padding: 10px 20px; 
    font-size: px;   
    margin: 5px;
    background-color: #ffffff; 
    border: 1px solid #000;   
    cursor: pointer;
  }
  
  .button:disabled {
    opacity: 0.5; 
  }
  
  .next_button {
    margin: 10px;
    padding: 20px 30px; 
    font-size: 16px;   
    background-color: lightcyan; 
    color: red;              
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .next_button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
  }
  

.home {
    margin-top: 200px;
}

.home_one {
    font-size: 30px;
    font-weight: 100;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home_button {
    border: 2px solid black;
    background-color: lightgreen;
    margin: 50px;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 15px;
    color: black;
}

.name {
  color: black;
  font-size: 40px;
}

.main_container {
  margin: auto;
  width: 1000px;
  height: 400px;
  border: 2px dotted black;
  border-radius: 25px;
  background: white;
  align-items: center;
}

.sub_container {
  margin-top: 100px;
  margin-bottom: auto;
}